html {
    background: grey;
}


body {
    width: 400px;
    height: 400px;
    background: white;
    margin: 200px auto;
}

.row {
    width: 100%;
    height: 50px;

    float: left;
}

.box {
    height: 50px;
    width: 50px;

    float: left;
}

.black {
    background: black;
}